[submodule "MEnzDP-SimpleTabuSearch"]
	path = simpleTabuSearch
	url = https://github.com/chrisAta/MEnzDP-SimpleTabuSearch.git
	branch = refactor
[submodule "diversityStats"]
	path = diversityStats
	url = https://github.com/chrisAta/diversityStats.git
