docker{
	enabled = true
	remove = true
    runOptions = '-v /Users/chris/Desktop/Dev/seq-mdp/lib:/code/lib -v /Users/chris/Desktop/Dev/seq-mdp/diversityStats:/code/diversityStats -v /Users/chris/Desktop/Dev/seq-mdp/simpleTabusearch:/code/simpleTabuSearch -v /Users/chris/Desktop/Dev/seq-mdp/main.py:/code/main.py'

}
